@{
    ViewBag.Title = "Kitap Bilgileri";
}

<link href="~/Content/kitap_bilgileri.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="container" style="margin-top:120px;">
    <div class="prog-page">
        <div class="header-title header-btn">
            <div class="header-info">
                <h2><i class="fa fa-info-circle"></i>Kitap Bilgileri </h2>
            </div>

        </div>

        <div class="prof-page-info">
            <div class="row">

                <div class="col-md-3">

                    <div class="prof-img">
                        <div class="tags-label">
                            <span><i class="fa fa-tags"></i>12 kez alındı</span>
                        </div>
                        <img itemprop="url" src="https://cdn.stocksnap.io/img-thumbs/960w/QZ4ZKZZNMM.jpg" alt="apple iphone workplace books table steve jobs book wood desk office business plant glasses notepad notebook ">
                    </div>
                </div>

                <div class="col-md-9">


                    <div class="prof-info">

                        <div class="info"><label><i class="fa fa-user"></i>Kitap adı :</label>  <span>Jsteve jobs</span></div>
                        <div class="info"><label><i class="fa fa-user"></i>Yazarı :</label>  <span> Tomsondfdff</span></div>
                        <div class="info"><label><i class="fa fa-calendar"></i>basım yılı  :</label>  <span>1993</span></div>
                        <div class="info"><label><i class="fa fa-male"></i>Bişey eklene bilir  :</label>  <span>dkfhkj"</span></div>
                        <div class="info"><label><i class="fa fa-male"></i>Bişey eklene bilir  :</label>  <span>sdffs</span></div>
                        <div class="info"><label><i class="fa fa-map-marker"></i>Bişey eklene bilir  iconlar değişecek :</label>  <span>Maharashtra , India</span></div>


                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
	