.button {
    background: #7CB342;
    border-radius: 9px 9px 9px 9px;
    border: 0;
    color: #fff;
    cursor: pointer;
    float: right;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    overflow: visible;
    padding: 0;
    position: relative;
    text-align:center;
    padding-top:30px;
    text-shadow: 0 -1px 0 rgba(0, 0,0, .3);
    height: 100px;
    width: 100px;
}

    .button:hover {
        background: #689F38;
        color:azure;
        text-decoration:none;
    }
    .button:active, . button:focus {
        background: #558B2F;
        outline: 0;
    }


    .button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
